<!DOCTYPE HTML>
<html>
  <head>
    <title>Error~</title>
    <link rel="shortcut icon" href="https://cdn.vino.run/Vino.ico" type="image/x-icon" />
    <link rel="Bookmark" href="https://cdn.vino.run/Vino.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.min.css">
  </head>
  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>
